@{
    ViewData["Title"] = "Administración de Roles";
}
@model IEnumerable<IdentityRole>

<h1 class="bg-info text-white bordeTitulo fadeIn first">Roles de usuarios</h1>
<a asp-action="Agregar" class="btn btn-success fadeIn first">Nuevo</a>
<div class="Contenido">
    <table class="table table-sm table-bordered table-bordered fadeIn second">
        <tr><th>Nombre</th><th>Usuarios actuales</th><th>Actualizar</th><th>Eliminar</th></tr>
        @foreach (var roles in Model)
        {
            <tr>
                <td>@roles.Name</td>
                <td i-role="@roles.Id"></td>
                <td><a class="btn btn-sm btn-info" asp-action="Actualizar" asp-route-id="@roles.Id">Actualizar</a></td>
                <td>
                    <form asp-action="Eliminar" asp-route-id="@roles.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Desea eliminar el rol: @roles.Name')">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>